@media(max-width: 750px){/*iphoneXR用*/
  .headTitle{
    height: 100px;
  }
  .titlelogo{
    width: 250px;
  }
  .mainTitles{
    font-size: 20px;
  }
  .blue{
    text-align: left;
  }
  .blue span{
    display: none;
  }
  .white{
    text-align: left;
  }
  .white span{
    display: none;
  }
  .remark{
    margin-bottom: 1500px;
  }
  .remarkTitle{
    height: 200px;
  }
  .remarkTitle h3{
    font-size: 15px;
    left: 50px;
    bottom: 150px;
  }
  .remarkTitle h4{
    font-size: 8px;
    left: 50px;
    bottom: 200px;
  }
  .remarkContent {
    font-size: 15px;
    text-indent: 2em;
    bottom: 100px;
  }
  .kaicho{
    width: 150px;
    right: 100px;
  }
  .main{
    width: 100%;
  }
  .main h2{
    font-size: 30px;
  }
  .main h3{
    font-size: 20px;
  }
  .main p{
    font-size: 15px;
  }
  .main a{
    font-size: 15px;
  }
  .sub{
    width: 100%;
    height: 720px;
  }
}
@media(min-width: 960px){/*PC用*/
  footer{
    border-top: 1px solid #696969;
  }
}
