@media(max-width: 670px){
  .mainTitles{
    font-size: 30px;
  }
  .headTitle{
    height: 100px;
  }
  .titlelogo{
    width: 250px;
  }
  .main{
    width: 100%;
  }
  .sub{
    width: 100%;
  }
}
